        h1{
			color: blue;
			font-size: 90px;
			text-decoration: underline;
		}
		#first{
			font-size: 45px
		}
		h2{
			color: green ;
			 font-size: 90px
		}

		.small{
			font-size: 12px
		}

		span{
			font-style: italic;
			font-size: 40px;
		}

		h2 span{
			text-decoration: line-through;
			color: pink;
			font-size: 90px;
		} 